<div class="section-title big-title margin-top">
    <h1>Get in contact</h1>
</div>
<div class="container contact background-basic with-shadow">
    <h3>Soledad Merino</h3>
    <div class="data">
        <div *ngFor="let i of items" class="item">
            <img src="{{i.icon}}" class="icon"><h3>{{i.to_show}}</h3>
        </div>
    </div>
    <div class="send-email">
    <a href="mailto:soledadmerino.1994@gmail.com?subject=Portfolio%20Email&body=Hi%20Sole" target="_blank" class="btn-super with-shadow">
        <div class="btn"><h2>Contact me!</h2></div>
    </a> 
    </div>
    <div class="photo">
        <img class="photography" src="../../assets/profile.jpeg" alt="">
    </div>
</div>