<div class="section-title">
    <h1>My works</h1>
</div>

<a href="https://ikaruna.vercel.app" target="blank">
    <div class="works">
        <div class="tittle over">
            <h1 class="work">Ikaru-Na</h1>
            <p class="function">Full Stack Dev</p>
        </div>
        <div class="img over">
            <img class="page turn" src="../../assets/ikaruna.jpg" alt="">
        </div>
        <div class="list over">
            <ul class="tec">
                <li>Angular <strong>-</strong></li>
                <li>PHP <strong>-</strong></li>
                <li>MySQL <strong>-</strong></li>
            </ul>
        </div>
    </div>
</a>