$color-base : #FCEAFE;
$color-second : #EBDEF0;
.btns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
    width: 40%;
    margin-left: 435px;
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    box-shadow: -4px 4px 5px gray;
}
.tech {
    grid-column: 1;
    grid-row: 1;
    border:solid;
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
}
.soft {
    grid-column: 2;
    grid-row: 1;
}
.tech:hover, .soft:hover {
    background-color: black;
    color: $color-base;
}
.selected {
    background-color: black;
    color: $color-base;
}
.skills {
    width: 70%;
    margin-left: 245px;
    margin-top: 0;
    margin-bottom: 50px;
    background-color: $color-base;
    padding-top: 20px;
    
}

/* --------------------------------RESPONSIVE------------------------------- */
        
@media only screen and (max-width: 768px) {
    .btns {
        grid-auto-rows: minmax(70px, auto);
        width: 80%;
        margin-left: 30px;
        margin-top: 50px;
        margin-bottom: 20px;
    }
    .tech h1, .soft h1{
        font-size: large;
        margin-top: 30px;
    }
    .skills {
        width: 95%;
        margin-left: 10px;
    }
}