<div class="container"> 
    <div class="caption">
        <h1>You think it, I do</h1>
        <!--<h1>Vos lo pensas, yo lo hago</h1>
        <p>You think it, I do</p>-->
    </div>
    <!--<img class="profile" src="../../assets/profile.jpeg" alt="">-->
    <div class="animation-container">
        <div class="animation-words">
        <h1 class="not-margin"><p *ngFor="let l of (letters$ | async)">{{l}}</p><span>&#160;</span></h1>
    </div>
    </div>
    <div class="scroll"></div>
</div>

<!--
    <span>&#160;</span>
-->