//$color-base : #48DECC;
$color-base : #FCEAFE;
$color-second : #EBDEF0;

body {
    background-image: url("assets/c57ee78b0dc9a848d380c9fe06bb85aa.jpg");
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html {
    scroll-behavior: smooth;
}
.background-basic {
    background-color: $color-base;
}
.section-title {
    width: 30%;
    height: 80px;
    margin-left: 495px;
    margin-bottom: 50px;
    margin-top: 200px;
    font-size: x-large;
    text-align: center;
    background-color: black;
    color: $color-base;
}
.section-title h1 {
    padding-top: 10px;
}
//---------NAV---------//
.btn-nav {
    display: none;
}
nav {
    background-color: $color-base;
    width: 100px;
    height: 615px;
    display: inline-block;
    box-shadow: 4px 4px 5px grey;
    position: fixed;
}
.nav-ul {
    list-style: none; 
    padding-left: 30px;
}
.nav-icon {
    width: 40px;
    height: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}
.nav-icon:hover {
    width: 60px;
    margin-bottom: 20px;
}

//----------IMG------------//
.profile {
    border-radius: 50%;
    width: 300px;
    height: auto;
    position: absolute;
    right: 50px;
    top: 30px;
}

//----------BASIC-----------//
.container {
    text-align: center;
}


h1 {
    margin-bottom: 0;
}

p {
    display: inline;
}
.with-shadow {
    box-shadow: -4px 4px 5px gray;
}
.margin-top {
    margin-top: 200px;
}
.text-center {
    text-align: center;
}
.aling-right {
    position: absolute;
    right: 2px;
    text-align: right;
}

/* --------------------------------RESPONSIVE------------------------------- */
        
@media only screen and (max-width: 768px) {

    //---------NAV---------//
    .btn-nav {
        display: inline-block;
        position: fixed;
        width: 100px;
        height: 20px;
        text-align: center;
        background-color: $color-base;
        color: black;
        z-index: 999;
    }
    .btn-nav:active {
        animation: 0.7s click 1;
    }
    nav {
        height: 540px;
        margin-top: 15px;
        animation: slide-down 2s;
        z-index: 2;
    }
    li {
        height: 100px;
    }
    .hide {
        display: none;
    }
    .nav-icon {
        z-index: 3;
    }

    @keyframes click{
        25%, 75%{
            transform:scale(0.8);
        }
        50%{
            transform:scale(1.1);
        }
    }

    @keyframes slide-down {
        from { height: 0% }
        to { height: 100%; }        
    }

    .section-title {
        width: 75%;
        height: 70px;
        margin-left: 45px;
        margin-bottom: 50px;
        margin-top: 150px;
        font-size: large;
        text-align: center;
        background-color: black;
        color: $color-base;
    } 
}